/*
 * -------------------------------------------------
 *  steffenlem/sradownloader Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performance compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = { check_max( 8 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  withName: prefetch {
    cpus = { check_max (1, 'cpus')}
  }

  withName: fasterqdump {
    cpus = { check_max (8, 'cpus')}
  }

  withName: sort_fastq_files {
    cpus = { check_max (1, 'cpus')}
  }

  withName:get_software_versions {
    cpus = { check_max (1, 'cpus')}
    cache = false
  }
  
}
